{
    "interval": "{{ gomon_interval }}",
    "notifyAtStart": {{ gomon_notify_st_start }},
    "processList": [
        "acrypt",
        "capella",
        "docker",
        "igmpproxy",
        "memcached",
        "mongod",
        "mysqld",
        "nginx",
        "openvpn",
        "php5-fpm",
        "postgres",
        "pptpd",
        "redis-server",
        "smbd",
        "transmission-da",
        "vsftpd",
        "sockd"
    ],
    "logLevel": "info",
    "telegram": {
        "enable": {{ gomon_telegram_enable }},
        "token": "{{ gomon_telegram_token }}",
        "contactID": {{ gomon_telegram_contact_id }},
        "admins": []
    }
}
